*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  color:#909090;
}

.nav-list{

  width:100%;
  margin:50px 0 0 0;
}

.nav-list-text1{
  width:960px;
  margin:0 auto;
  padding:20px 0 20px 20px;
  list-style:none;
  background-color: #d9d9d9;
}
.nav-list-text2{
  width:960px;
  margin:0 auto;
  padding:20px 0 20px 20px;
  list-style:none;
  background-color: #f9f9f9;
}

.main-list{
  width:960px;
  margin:50px auto;
}

.list-text{
display:flex;
justify-content: center;
}

/* リストの指定の仕方、:nth-child()での指定
クラス分けの効率 */

.main-list-text1{
  background-color: orange;
  width:30%;
  height:200px;
  margin:0 5% 40px 0;
  list-style:none;
}
.main-list-text2{
  background-color:#ffdd00;
  width:30%;
  height:200px;
  margin:0 5% 40px 0;
  list-style:none;
}
.main-list-text3{
  background-color:#ffdd00;
  width:30%;
  height:200px;
  margin:0 0 40px 0;
  list-style:none;
}

.main-list-text4{
  background-color:#ffdd00;
  width:30%;
  height:200px;
  margin:0 5% 40px 0;
  list-style:none;
}
.main-list-text5{
  background-color:orange;
  width:30%;
  height:200px;
  margin:0 5% 40px 0;
  list-style:none;
}
.main-list-text6{
  background-color:#ffdd00;
  width:30%;
  height:200px;
  margin:0 0 40px 0;
  list-style:none;
}
.main-list-text7{
  background-color: #ffdd00;
  width:30%;
  height:200px;
  margin:0 5% 40px 0;
  list-style:none;
}
.main-list-text8{
  background-color:#ffdd00;
  width:30%;
  height:200px;
  margin:0 5% 40px 0;
  list-style:none;
}
.main-list-text9{
  background-color:orange;
  width:30%;
  height:200px;
  margin:0 0 40px 0;
  list-style:none;
}